streamlit
python-dotenv
PyPDF2
langchain-core==0.1.28
langsmith==0.0.69
langchain-text-splitters==0.0.1
langchain-community==0.0.20
langchain-google-genai==0.0.11
langchain==0.1.0
chromadb==0.4.22
